<label for='tri'>Trier les publications : </label><select id='tri' class='tri'>
	<option value='dateDesc'>Les plus récentes</option>
	<option value='dateAsc'>Les plus anciennes</option>
	<option value='score'>Les mieux notées</option>
	<option value='commentaire'>Les plus commentées</option>
</select>