{% extends "ResomaProfilBundle::layout.html.twig" %}

{% block title %}Resoma{% endblock %}

{% block contenu %}	
	<section id='disabled'>
		<p>Votre compte est désactivé !</p>
	</section>
{% endblock %}
